<div class="container__grid">
  <div class="content__title-cliente">
    <h4 style="text-align: center" class="card-title">Lista de Dispositivos</h4>
    <div class="content__table">
      <div class="content__table">
        <form action="#" method="post">
          <button
            type="submit"
            name="btnAgregarDispositivo"
            value="Agregar"
            class="btn btn-primary mx-2"
            style="float: right"
          >
            <img src="./assets/icons/carbon_add-filled.svg" alt="add_file" />
            Agregar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="content__table">
    <table
      id="table_productos"
      class="table table-hover my-4"
      style="width: 80%"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PACK</th>
          <th scope="col">Estado</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>

      <tbody id="tbody"></tbody>
    </table>
  </div>
  <div id="datos"></div>
</div>
<script type="text/javascript">
  function goBack() {
    window.history.back();
  }
  $(document).ready(function () {
    $(".toast").toast("show");
  });
</script>
<script src="./js/main.js"></script>
